.container {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: 1px solid #cfcfcf;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.logo {
  width: 40px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.text_heading {
  margin-bottom: 2rem;
}
.btn {
  cursor: pointer;
  padding: 1.2rem;
  color: #fff;
  background-color: #000;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
